import /vendor/etc/uevent.device.rc

modalias_handling enabled

subsystem usbmisc
    devname uevent_devname

/dev/dma_heap/system                                   0666    system       graphics
/dev/dma_heap/linux,cma                                0666    system       graphics

# Power HAL devfreq
/sys/devices/platform*                        min_freq 0664    system       system
/sys/devices/platform*                        max_freq 0644    system       system
# Power HAL cpufreq
/sys/devices/system  *                scaling_min_freq 0664    system       system
/sys/devices/system  *                scaling_max_freq 0644    system       system

# USB Gadget HAL v1.2
/sys/class/udc*                          current_speed 0644    system       system
