#  KEEP ALPHABETICALLY SORTED
# CONFIG_DISTRO_DEFAULTS is not set
CONFIG_BOOTCOMMAND="if test ${boot_source} = \"usb\"; then fastboot 0; fi; setenv scriptaddr 0x53000000 ; if test ${boot_source} = \"sd\"; then setenv mmc_bootdev 1; else setenv mmc_bootdev 2; fi ; load mmc ${mmc_bootdev}:2 ${scriptaddr} boot.scr && source ${scriptaddr} "
CONFIG_FASTBOOT_BUF_ADDR=0x6000000
CONFIG_FASTBOOT_BUF_SIZE=0x1000000
CONFIG_USB_DWC2=y
